<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!-- Octopus Deploy Settings -->
  <add key="OctopusDeploy.Url" value=""/>
  <add key="OctopusDeploy.ApiKey" value=""/>
  <add key="OctopusDeploy.ProjectName" value=""/>
  <add key="OctopusDeploy.EnvironmentName" value="Dev"/>

  <!-- Github Settings -->
  <add key="Git.RepositoryName" value="xx" />
  <add key="Git.GithubToken" value="xxx" />
  <add key="Git.OrganisationName" value="xx" />

  <!-- Jira Settings -->
  <add key="Jira.Url" value="https://xx.atlassian.net" />
  <add key="Jira.Username" value="xx" />
  <add key="Jira.Password" value="xx" />
  <add key="Jira.ProjectName" value="xx" />

  <!-- DropBox Settings -->
  <add key="DropBox.ApiKey" value="xx" />
  <add key="DropBox.ApiSecret" value="xx" />
  <add key="DropBox.UserSecret" value="x" />
  <add key="DropBox.UserToken" value="x" />

  <add key="ItemsToDelete.Paths" value="master\\sitecore\\content\\Home,master\\sitecore\\content\\Settings,master\\sitecore\\media library" />
</appSettings>
