<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!-- Octopus Deploy Settings -->
  <add key="OctopusDeploy.Url" value="http://octopusdeploy.aquepreview.com"/>
  <add key="OctopusDeploy.ApiKey" value="API-5TGCBJB0K64GRQ0EATUCZLJZQ"/>
  <add key="OctopusDeploy.ProjectName" value="Trafalgar"/>
  <add key="OctopusDeploy.EnvironmentName" value="Production"/>

  <!-- Github Settings -->
  <add key="Git.RepositoryName" value="Trafalgar" />
  <add key="Git.GithubToken" value="97e4231ce882abdf4253d8d4aa147db5e3b4a093" />
  <add key="Git.OrganisationName" value="Aqueduct" />

  <!-- Jira Settings -->
  <add key="Jira.Url" value="https://aqueduct.atlassian.net" />
  <add key="Jira.Username" value="trafalgarAPI" />
  <add key="Jira.Password" value="4qu3duct!" />
  <add key="Jira.ProjectName" value="Trafalgar" />

  <!-- DropBox Settings -->
  <add key="DropBox.ApiKey" value="svijcgsuiox3zqv" />
  <add key="DropBox.ApiSecret" value="yd2ci3pdwwkmlen" />
  <add key="DropBox.UserSecret" value="whwzcknmwqreyb7" />
  <add key="DropBox.UserToken" value="gk11of2gwazk7r1i" />

  <add key="ItemsToDelete.Paths" value="master\\sitecore\\content\\Home,master\\sitecore\\content\\Settings,master\\sitecore\\media library" />
</appSettings>